.mobile-navbar {
    background-color: #65558F!important;
    width: 100%;
    max-width: 100vw!important;
    display: flex;
    flex-direction: column;
    padding: 0!important;
  }
  
  .mobile-navbar-toolbar {
    display: flex!important; 
    justify-content: space-between!important; 
    padding: 0!important;
    width: 100%!important;

  }
  
  .mobile-navbar-title {
    margin-left: 20px!important;
  }

  .mobile-navbar-icon {
    margin-right: 20px!important;
  }
  
  .mobile-navbar-tabs {
    background-color: #65558F;
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
  }
  
  .mobile-navbar-tab {
    color: white!important;
    font-weight: bold!important;
    text-transform: none!important;
  }
  