.request-card {
  background-color: #E7E0EC !important; /* Matches card background */
  margin: 0;
  box-shadow: none !important;
  width: 80% !important;
}

.request-card-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.request-card-description {
  margin-bottom: 8px;
  color: #616161; /* Muted text color */
}

.request-card-date {
  color: gray;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}