.button-group-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  margin-bottom: 20px;
}

.button-group {
  display: flex; 
  padding-top: 20px;
  width: 80%;
  
}

.toggle-button {
  flex: 1; 
  text-transform: none; 
  padding: 8px 16px;
  border-radius: 0px;
}

.toggle-button:first-of-type {
  border-radius: 30px 0 0 30px;
}

.toggle-button:last-of-type {
  border-radius: 0 30px 30px 0;
}

.toggle-button.Mui-selected {
  background-color: #65558F !important; 
  color: white; 
}