.request-card {
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 10px 0px !important;
    padding: 5px;
    border-radius: 14px !important;
    width: 90% ;
  }
  
  .card-title {
    font-weight: bolder !important;
  }
  
  .card-description {
    margin: 10px 0;
  }
   
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .icon {
    vertical-align: middle;
  }
  
  .card-delete {
    color: red;
  }
  