/* 
 * Default styles for the CreateAccountButton component
 * Overwrite or add styles in local.css to meet the needs of a specific page
 */

.create-account-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.create-account-button:hover {
  background-color: #f0f0f0;
}

.auth-buttons2 .create-account-button {
  width: 350px;
}

@media (min-width: 1600px) {
  .navbar .create-account-button {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .navbar .create-account-button {
    width: 75%;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .navbar .create-account-button {
    padding: 2px 4px;
  }
}