/* Styles for the MainContainer component */

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0px;
    width: 100%;
    min-height: calc(100vh - 91px);
    margin: 0 auto;
    box-sizing: border-box;
    color: #333;
    background-color: #e6e6fa;
    font-family: Arial, sans-serif;
    height: calc(100vh - 91px);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    background-color: #f8f9fa;
    min-height: calc(100vh - 158px);
  }
}