/* Styles for the MainContainer component */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    /*max-width: 1200px;*/
    margin: 0 auto;
}

/* Responsive adjustments */
@media (min-width: 769px) {

    /* Desktop styles */
    .container {
        background-color: #e6e6fa;
    }
}

@media (max-width: 768px) {

    /* Mobile styles */
    .container {
        background-color: #f8f9fa;
    }
}